@model List<Movie>

<div class="jumbotron red-panda">
    <h1>Cinema Pandas are coming soon...</h1>
</div>
<a href="/logout">Log out</a>
<hr>
<h1>Welcome @ViewBag.User.Name!</h1>

<table class="table border border-danger">
    <thead class="bg-danger text-light">
        <th>Title</th>
        <th>Genre</th>
        <th>Release Year</th>
        <th>Screen Start Time</th>
        <th># of Guests</th>
        <th>Actions</th>
    </thead>
    <tbody>
        @foreach (Movie m in Model)
        {
            <tr>
                <td>@m.Title</td>
                <td>@m.Genre</td>
                <td>@m.Year</td>
                <td>@m.ScreeningTime.ToLongDateString() @@ @m.ScreeningTime.ToShortTimeString()</td>
                <td>@m.Guests.Count</td>
                <td>
                    @if (ViewBag.User.UserId == m.Organizer.UserId)
                    {
                        <a class="btn btn-warning">Cancel</a>
                    }
                    else
                    {
                        // Query to see if they are watching
                        if (m.Guests.Any(w => w.UserId == ViewBag.User.userId))
                        {
                            <a class="btn btn-outline-dark">Back Out</a>
                        }
                        else
                        {
                            <a class="btn btn-outline-success">RSVP</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>